# Postgres
POSTGRES_USER=mealplanner
POSTGRES_PASSWORD=
POSTGRES_DB=mealplanner
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Backend
BACKEND_PORT=8080
DATABASE_URL=postgres://{{POSTGRES_USER}}:{{POSTGRES_PASSWORD}}@mealplanner-db:{{POSTGRES_PORT}}/{{POSTGRES_DB}}?sslmode=disable

# Frontend
VITE_API_BASE_URL=http://localhost:8080